:root{
    /* size */
    --size-playBtn : 50px;
    --size-timer: 100px;
    --size-counter: 50px;
    /* color */
    --color-popUpColor: grey;
    
}
body {
    background-image: url(./img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

button {
    outline: none;
    background: transparent;
    border: none;
}

ul {
    list-style:none;
}

.playBtn {
    width: var(--size-playBtn);
}

.timer {
    width: var(--size-timer);
    text-align: center;
}

.counter {
    width: var(--size-counter);
    text-align: center;
}

.endPopUP {
    background-color: var(--color-popUpColor);
}

