 /* css 명명 규칙 -> 모든 속성 예약어는 영문 소문자로! */
:root{
    /* size */
    --size-playbtn : 50px;
    --size-timerwidth: 200px;
    --size-timerheight: 40px;
    --size-counter: 50px;
    --size-popupwidth: 500px;
    --size-popupheight: 150px;
    --size-replaybtn : 50px;

    /* font */
    --font-play: 25px;
    --font-timer: 25px;
    --font-counter: 30px;
    --font-resultmsg: 30px;
  
    /* color */
     --color-timercolor: white;
     --color-countercolor: #ffab91;
    --color-popupcolor:rgba( 0, 0, 0, 0.5 );
    --color-replaybtn: #ffe0b2;
    --color-resultmsg: white;
    
}

body {
    background-image: url(./img/background.png);
    position: relative;
    background-repeat:no-repeat;
    background-size:100% 100vh;
    box-sizing: border-box;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 180px;
    justify-content: space-between;
}

button {
    outline: none;
    background: transparent;
    border: none;
}

ul {
    list-style:none;
    position: absolute;
}

.playBtn {
    margin-top: 10px;
    width: var(--size-playbtn);
    height: var(--size-playbtn);
    background-color: var(--color-replaybtn);
    border-radius: 10px 10px 10px 10px;
    font-size: var(--font-play);
}

.timer {
    width: var(--size-timerwidth);
    height: var(--size-timerheight);
    /* text-align: center; */
    font-size: var(--font-timer);
    background-color: var(--color-timercolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}


.counter {
    width: var(--size-counter);
    height: var(--size-counter);
    border-radius: 25px 25px 25px 25px;
    text-align: center;
    font-size: var(--font-counter);
    color: white;
    background-color: var(--color-countercolor);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.endPopUP {
    background-color: var(--color-popupcolor);
    width: var(--size-popupwidth);
    height: var(--size-popupheight);
    border-radius: 25px 25px 25px 25px;
    margin: 0 auto;
}
.win__popUp {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.replay__btn{
    margin-top: 10px;
    width: var(--size-replaybtn);
    height: var(--size-replaybtn);
    background-color: var(--color-replaybtn);
    border-radius: 10px 10px 10px 10px;
    color: black;
    font-size: 25px;
}

.result__msg {
    font-size: var(--font-resultmsg);
    color: var(--color-resultmsg);
}
